$theme-main        : #340434;
$theme-emphasis    : #520452;
$theme-selectedItem: #CF7799;
$theme-color1      : #F5BB46;
$theme-color2      : #CAA0CD;
$theme-color3      : #6E5DA0;


$screen-size-lg: 1200px;
$screen-size-md: 992px;
$screen-size-sm: 768px;
$screen-size-xs: 768px;