@import './variables';

.contentPageMain {
   padding: 0 2%;

   >h3 {
      text-align      : center;
      background-color: rgba(0, 0, 0, 0.6);
      padding         : 1rem;
      border-radius   : 1rem;
      width           : fit-content;
      margin          : 0 auto;
   }

   .highlightedContent {
      display        : flex;
      flex-wrap      : wrap;
      justify-content: center;
   }

   .regularContent {
      display        : flex;
      justify-content: center;
      flex-wrap      : wrap;
   }
}

@media screen and (max-width: $screen-size-xs) {
   .highlightedContent {
      .mainCard {
         margin-bottom: 0;
      }
   }
}